.nav {
    width: 600px;
    background-color:gray;
    margin: 0 auto;
    text-align: center;
}

.nav a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.nav a:hover {
    background-color: blue;
    color: white;
}